.Grid-Index {
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 200px;
  grid-template-areas: 'top top' 'aside aside' 'main main'								 'footer footer';
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr auto auto 1fr; }

#header {
  grid-area: top;
  height: auto; }

#main {
  grid-area: main;
  height: auto;
  border: 1px solid black;
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
  justify-content: center; }

#aside {
  grid-area: aside;
  height: auto;
  background-image: url(../img/fondo0.jpg);
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  flex-direction: colum;
  justify-content: center; }

#footer {
  grid-area: footer;
  background-color: black;
  height: auto; }

@media only screen and (max-width: 800px) {
  .Grid-Index {
    height: auto;
    width: auto;
    margin: 0%;
    display: grid;
    row-gap: 100px;
    grid-gap: 1em;
    grid-template-areas: 'top top'  'aside aside' 'main main'                            'footer footer';
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    background: no-repeat; } }

.Grid-productos {
  display: grid;
  grid-row-gap: 100px;
  grid-template-areas: 'nav nav' 'main main'							 'footer footer';
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto; }

#headerP {
  grid-area: nav;
  height: auto; }

#mainP {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 250px;
  justify-content: center; }

#footerP {
  grid-area: footer;
  background-color: black;
  height: auto; }

@media only screen and (max-width: 800px) {
  .Grid-productos {
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 100px;
    grid-template-areas: 'nav'  'main' 'footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; } }

.Grid-Servicios {
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 0px;
  grid-template-areas: 'top top' 'main main'								 'footer footer';
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto 1fr; }

#headerS {
  grid-area: top; }

#MainS {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 250px;
  justify-content: center;
  background-image: url(../img/fondo9.jpg); }

.MainS-Container {
  display: flex;
  flex-direction: column;
  align-items: center; }

#footerS {
  grid-area: footer;
  background-color: black;
  height: auto; }

@media only screen and (max-width: 800px) {
  .Grid-Servicios {
    display: grid;
    height: auto;
    width: auto;
    grid-gap: 100px;
    grid-template-areas: 'top'  'main' 'footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; } }

.Grid_Nosotros {
  display: grid;
  height: auto;
  width: auto;
  grid-gap: 100px;
  grid-template-areas: 'top' 'main' 'footer';
  grid-template-columns: auto;
  grid-template-rows: auto auto auto; }

#headerN {
  grid-area: top; }

#mainN {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
  background-image: url(../img/fondo.jpg); }

#footerN {
  grid-area: footer;
  background-color: black;
  height: auto; }

@media only screen and (max-width: 800px) {
  .Grid-Nosotros {
    display: grid;
    height: auto;
    width: auto;
    grid-gap: 100px;
    grid-template-areas: 'top'  'main' 'footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; } }

.Grid-Contacto {
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 200px;
  grid-template-areas: 'top' 'aside' 'main'								 'footer';
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto; }

#headerC {
  grid-area: top; }

#asideC {
  grid-area: aside;
  height: auto;
  background-image: url(../img/fondo0.jpg);
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  flex-direction: colum;
  justify-content: center; }

#mainC {
  grid-area: main;
  background-image: url(../img/media_wallpaper_3.png);
  height: auto;
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
  justify-content: center; }

#footerC {
  grid-area: footer;
  background-color: black;
  height: auto; }

@media only screen and (max-width: 800px) {
  .Grid-Contacto {
    height: auto;
    width: auto;
    display: grid;
    row-gap: 100px;
    grid-gap: 1em;
    grid-template-areas: 'top'  'aside' 'main'                            'footer';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto; } }

* {
  font-family: 'Anton', sans-serif; }

h1 {
  color: white;
  font-size: 60px; }

.Bigtext {
  color: white;
  font-size: 90px; }

.Smalltext {
  color: whitesmoke;
  font-size: 35px;
  text-emphasis: uppercase;
  font-weight: lighter; }

h3 {
  color: lightblue;
  font-size: 20px; }

body {
  background-image: url(../img/azul1.jpg);
  background-repeat: inherit; }

.Acomodador {
  width: 66.66667%;
  margin: auto;
  font-size: 150%; }

.parrafobig {
  font-size: 50px;
  text-emphasis: uppercase; }

.parrafosmall {
  font-size: 35px;
  text-emphasis: uppercase; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.textLeft {
  text-align: left; }

.Aside--modifier {
  justify-content: space-between;
  height: auto;
  margin: auto; }

.footerblanco {
  color: white; }

footer ol li a {
  text-decoration: none;
  color: white; }

footer ol li a:hover {
  transform: scale(1, 1);
  background: black;
  color: white; }

fieldset {
  color: white;
  font-size: 20px; }

.Menu_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 250px;
  margin-left: 250px;
  justify-content: center;
  height: auto;
  background-color: whitesmoke; }

.Menu_nav {
  text-decoration: none;
  background-color: whitesmoke;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
  font-weight: bold;
  font-size: 50px; }

.Menu_nav--modifier {
  text-align: center; }

.Main {
  display: flex;
  flex-direction: column;
  background-color: #fbf8b1; }

.Main--div {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  font-size: 50px; }

.Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

.Footer_lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 25px; }

.Productos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.MainP-Container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center; }

.Formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  text-align: center; }

.Separador {
  padding-top: 35px;
  padding-bottom: 35px; }
