@import "_Grilla.scss";

$ancho:100%;

*{
    font-family: 'Anton', sans-serif;
}

h1{
    color: white;
    font-size: 60px;
}

.Bigtext{
    color: white;
    font-size: 90px;
}

.Smalltext{
    color: whitesmoke;
    font-size: 35px;
    text-emphasis: uppercase;
    font-weight: lighter;
}

h3{
    color: lightblue;
    font-size: 20px;
}

body{
    background-image: url(../img/azul1.jpg);
    background-repeat: inherit;
 }

 .Acomodador{
    width: $ancho/1.5;
    margin: auto;
    font-size: 150%;
 }

 .parrafobig{
         font-size: 50px;
         text-emphasis: uppercase;
 }

 .parrafosmall{
         font-size: 35px;
         text-emphasis: uppercase;
 } 

 .textCenter{
     text-align: center;
 }

 .textRight{
     text-align: right;
 }

 .textLeft{
     text-align: left;
 }

 .Aside--modifier{
     justify-content: space-between;
     height: auto;
     margin: auto;
 }

.footerblanco{
    color: white;
}

 footer ol li a{
     text-decoration: none;
     color: white;

 }

 footer ol li a:hover{ 
     transform: scale(1,1);	
     background: black;
     color: white;

 }


 fieldset{
     color: white;
     font-size: 20px;
 }

 .Menu_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 250px;   
    margin-left: 250px;
    justify-content: center;
    height: auto;
    background-color: whitesmoke; 
}



.Menu_nav{
    text-decoration: none;
    background-color: whitesmoke;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    font-weight: bold;
    font-size: 50px;
}

.Menu_nav--modifier{
    text-align: center;
}

 

.Main{
     display: flex;
     flex-direction: column;
     background-color:  rgb(251,248,177);
}

.Main--div{
     display: flex;
     flex-direction: row;
     color: black;
     justify-content: center;
     font-size: 50px;
}

.Footer{
    display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;

}

.Footer_lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

.Productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainP-Container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}

.Separador{
    padding-top: 35px;
    padding-bottom: 35px;
}